# Ignore TeX's temporary and auxiliary files.

*.aux
*.*~
*.dvi
*.log
*.toc
*.idx
*.*_idx
*.ilg
*.out
*.hd


# ignore the build, temp and log folders
./build
build/*
./temp
temp/*
./log
log/*

source.sh

# ruby gems locally
lib/ruby/vendor
lib/ruby/.bundle
lib/ruby/Gemfile.lock


# xindy locally
externals/xindy
